@media(max-width: 362px){
    .container{
        max-width: 350px;
    }
    .hamburger-menu{
        padding: 25px 15px;
    }
    .about-the-event-container{
        padding: 60px 10px;
    }
    .about-container{
        padding: 60px 0;
    }
    .quest-ans-container{
        padding: 80px 0;
    }
    .header{
        padding: 25px 15px;
    }
    .content{
        padding: 0;
    }
    .footer-container{
        padding: 0;
    }
    
}

